.c-list-number{
	> li{
		position: relative;
		padding-left: 3rem;
		font-size: 2rem;
		font-weight: bold;
		line-height: calc(22/20);
		color: $colPrimary;
		@include sp{
			padding-left: 1.7rem;
			font-size: 1.3rem;
		}
		&:before{
			content: '';
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			left: 0;
			top: 0;
			width: 2.2rem;
			height: 2.2rem;
			background: $colPrimary;
			font-size: 1.6rem;
			color: #fff;
			@include sp{
				width: 1.3rem;
				height: 1.3rem;
				font-size: 1rem;
			}			
		}
	}
	&--black{
		> li{
			margin-top: 1rem;
			list-style: decimal;
			font-size: 1.6rem;
			line-height: calc(30/16);
			@include sp{
				margin-top: 0.6rem;
				font-size: 1.2rem;
			}		
		}
	}
}
.c-list-check {
	> li{
		position: relative;
		color: #1a1a1a;
		font-size: 1.6rem;
		line-height: calc(30/16);
		padding-left: 2.4rem;
		font-weight: normal;
		@include sp{
			padding-left: 1.8rem;
			font-size: 1.2rem;
		}	
		&:before{
			content: "\f00c";
			position: absolute;
			left: 0;
			top: 1.5rem;
			transform: translateY(-50%);
			font-family: 'Font Awesome 5 Free';
    	font-weight: 900;
    	font-size: 1em;
    	line-height: 1;
    	color: $colPrimary;
    	@include sp{
				top: 1.1rem;				
			}	
		}
	}
}

@for $i from 1 through 10 {
  .c-list-number{
		> li:nth-child(#{$i}){
			&:before{
				content: '#{$i}';
			}
		}
	}
}
