.c-text{
	@include pc{
		font-size: 1.6rem;
		line-height: calc(30/16);
		// letter-spacing: 0.05em;
	}
	@include sp{
		font-size: 1.4rem;
		line-height: calc(50/28);
	}
	+ .c-text{
		margin-top: 0.5em;
	}
}