.
  <footer id="footer" class="sfcc-footer" role="contentinfo">
      <section class="wrapper clearfix">
          <div class="contact-wrapper" style="padding-right: 20px;">
              <div class="stay-connected-wrapper clearfix">
                  <div id="footer-sfcc-stay-connected" class="h4 fl no-underline">アシックス最新情報をチェック</div>
                  <ul class="social-box fr" aria-labelledby="footer-sfcc-stay-connected">
                      <li>
                          <a href="https://www.facebook.com/ASICSJapan" target="_blank">
                              <svg class="icon facebook social-icons">
                                  <use xlink:href="/system/images/social-icons.302c6.svg#facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                              <span class="invisible">Facebook opens a new window</span>
                          </a>
                      </li>
                      <li>
                          <a href="https://twitter.com/ASICS_JP" target="_blank">
                              <svg class="icon twitter social-icons">
                                  <use xlink:href="/system/images/social-icons.302c6.svg#twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                              <span class="invisible">Twitter opens a new window</span>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.instagram.com/asics_japan/" target="_blank">
                              <svg class="icon instagram social-icons">
                                  <use xlink:href="/system/images/social-icons.302c6.svg#instagram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                              <span class="invisible">Instagram opens a new window</span>
                          </a>
                      </li>
                      <li>
                          <a href="https://page.line.me/536amphg?openQrModal=true" target="_blank">
                              <svg class="icon line svg-line-dims social-icons" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.6 122.6" style="enable-background:new 0 0 122.6 122.6;" xml:space="preserve">
                                <style type="text/css">
                                  .st0{fill:#FFFFFF;}
                                  .st1{fill:#061F5F;}
                                  .svg-line-dims {width: 37px;height: 37px;}
                                </style>
                                <g id="LINE_LOGO_1_">
                                  <g>
                                    <circle class="st0" cx="61.1" cy="61.7" r="60"></circle>
                                    <g id="TYPE_A_19_">
                                      <g>
                                        <path class="st1" d="M101.1,58.1c0-17.9-17.9-32.4-39.9-32.4S21.3,40.2,21.3,58.1c0,16,14.2,29.4,33.4,32c1.3,0.3,3.1,0.9,3.5,2
                                          c0.4,1,0.3,2.6,0.1,3.6c0,0-0.5,2.8-0.6,3.4c-0.2,1-0.8,3.9,3.5,2.2c4.3-1.8,23-13.5,31.4-23.2l0,0
                                          C98.3,71.7,101.1,65.3,101.1,58.1"></path>
                                        <g>
                                          <path class="st0" d="M53,49.5h-2.8c-0.4,0-0.8,0.3-0.8,0.8v17.4c0,0.4,0.3,0.8,0.8,0.8H53c0.4,0,0.8-0.3,0.8-0.8V50.3
                                            C53.8,49.9,53.5,49.5,53,49.5"></path>
                                          <path class="st0" d="M72.3,49.5h-2.8c-0.4,0-0.8,0.3-0.8,0.8v10.3l-8-10.8c0,0,0-0.1-0.1-0.1l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0
                                            l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0h-2.8c-0.4,0-0.8,0.3-0.8,0.8v17.4c0,0.4,0.3,0.8,0.8,0.8h2.8c0.4,0,0.8-0.3,0.8-0.8
                                            V57.6l8,10.8c0.1,0.1,0.1,0.1,0.2,0.2l0,0l0,0l0,0l0,0l0,0l0,0c0,0,0,0,0.1,0l0,0c0.1,0,0.1,0,0.2,0h2.8c0.4,0,0.8-0.3,0.8-0.8
                                            V50.4C73.1,49.9,72.7,49.5,72.3,49.5"></path>
                                          <path class="st0" d="M46.3,64.1h-7.6V50.3c0-0.4-0.3-0.8-0.8-0.8h-2.8c-0.4,0-0.8,0.3-0.8,0.8v17.4l0,0c0,0.2,0.1,0.4,0.2,0.5
                                            l0,0l0,0c0.1,0.1,0.3,0.2,0.5,0.2l0,0h11.2c0.4,0,0.8-0.3,0.8-0.8v-2.8C47.1,64.4,46.7,64.1,46.3,64.1"></path>
                                          <path class="st0" d="M87.8,53.9c0.4,0,0.8-0.3,0.8-0.8v-2.8c0-0.4-0.3-0.8-0.8-0.8H76.6l0,0c-0.2,0-0.4,0.1-0.5,0.2l0,0l0,0
                                            c-0.1,0.1-0.2,0.3-0.2,0.5l0,0v17.4l0,0c0,0.2,0.1,0.4,0.2,0.5l0,0l0,0c0.1,0.1,0.3,0.2,0.5,0.2l0,0h11.2
                                            c0.4,0,0.8-0.3,0.8-0.8v-2.8c0-0.4-0.3-0.8-0.8-0.8h-7.6V61h7.6c0.4,0,0.8-0.3,0.8-0.8v-2.8c0-0.4-0.3-0.8-0.8-0.8h-7.6v-2.9
                                            h7.6V53.9z"></path>
                                        </g>
                                      </g>
                                    </g>
                                  </g>
                                </g>
                                </svg>
                              <span class="invisible">Line opens a new window</span>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.youtube.com/user/ASICSJAPANMOVIE" target="_blank">
                              <svg class="icon youtube social-icons">
                                  <use xlink:href="/system/images/social-icons.302c6.svg#youtube" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                              <span class="invisible">Youtube opens a new window</span>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>

          <nav role="navigation" class="footer-nav-lists">
                  <div class="footer-nav-list fl single">
                      <div id="footer-nav-list-0" class="h4">Customer Service</div>
                      <ul aria-labelledby="footer-nav-list-0">
                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/support"  title="ユーザーサポート" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="customer service" data-wa-event-label="ユーザーサポート">
                                  ユーザーサポート</a></li>
                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/support/contact"  title="お問い合わせ先一覧" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="customer service" data-wa-event-label="お問い合わせ先一覧">
                                  お問い合わせ先一覧</a></li>
                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/support/faq"  title="よくあるお問い合わせ" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="customer service" data-wa-event-label="よくあるお問い合わせ">
                                  よくあるお問い合わせ</a></li>
                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/support/important"  title="◆お客様への重要なお知らせ◆" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="customer service" data-wa-event-label="◆お客様への重要なお知らせ◆">
                                  ◆お客様への重要なお知らせ◆</a></li>
                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/support/help"  title="お役立ち情報" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="customer service" data-wa-event-label="お役立ち情報">
                                  お役立ち情報</a></li>
                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/shop/guide"  title="お買い物ガイド" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="customer service" data-wa-event-label="お買い物ガイド">

                                  お買い物ガイド</a></li>

                          <li>
                              <a href="https://e-catalog.asics.co.jp/catalog/top.aspx"  title="デジタルカタログ" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="customer service" data-wa-event-label="デジタルカタログ">

                                  デジタルカタログ</a></li>

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/custom/category"  title="カスタムオーダー" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="customer service" data-wa-event-label="カスタムオーダー">

                                  カスタムオーダー</a></li>



                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/tpoint-guide/tpoint-guide.html">
                              <svg class="tpoint-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 198 198" id="t-point_logo2"><title>t-point_logo2</title><g data-name="Layer 2"><path class="bxcls-1" fill="#004097" d="M0 66v132h66V66H0z"></path><path class="bxcls-2" fill="#fff100" d="M0 0v66h66v132h66V66h66V0H0"></path><path class="bxcls-1" fill="#004097" d="M132 66v132h66V66z"></path></g></svg>
                              Tポイント</a>
                          </li>

                      </ul>
                  </div>



                  <div class="footer-nav-list fl single">
                      <div id="footer-nav-list-1" class="h4">ASICS Store</div>
                      <ul aria-labelledby="footer-nav-list-1">

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/stores/"  title="直営店一覧" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="asics store" data-wa-event-label="直営店一覧">

                                  直営店一覧</a></li>

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/store-locator"  title="取扱店舗一覧" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="asics store" data-wa-event-label="取扱店舗一覧">

                                  取扱店舗一覧</a></li>

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/asicsruntokyo-marunouchi"  title="ASICS Run Tokyo Marunouchi" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="asics store" data-wa-event-label="asics run tokyo marunouchi">

                                  ASICS Run Tokyo Marunouchi</a></li>

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/asics-connection-tokyo"  title="ASICS Connection Tokyo" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="asics store" data-wa-event-label="asics connection tokyo">

                                  ASICS Connection Tokyo</a></li>

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/sports-station"  title="Sports Station Hibiya Park" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="asics store" data-wa-event-label="sports station hibiya park">

                                  Sports Station Hibiya Park</a></li>

                      </ul>



                  <div id="footer-nav-list-2" class="h4">Service</div>
                      <ul aria-labelledby="footer-nav-list-2">

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/running/lab"  title="ASICS Running Lab" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="service" data-wa-event-label="asics running lab">

                                  ASICS Running Lab</a></li>

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/fitnesslab"  title="ASICS Fitness Lab" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="service" data-wa-event-label="asics fitness lab">

                                  ASICS Fitness Lab</a></li>

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/rtl/customfit"  title="ASICS Custom Fit" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="service" data-wa-event-label="asics custom fit">

                                  ASICS Custom Fit</a></li>

                          <li>
                              <a href="https://runningclub.asics.jp/event_front"  title="ASICS Running Club" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="service" data-wa-event-label="asics running club">

                                  ASICS Running Club</a></li>

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/runkeeper"  title="ASICS Runkeeper" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="service" data-wa-event-label="asics runkeeper">

                                  ASICS Runkeeper</a></li>

                      </ul>
                    </div>



                  <div class="footer-nav-list fl single">
                      <div id="footer-nav-list-3" class="h4">Corporate</div>
                      <ul aria-labelledby="footer-nav-list-3">

                          <li>
                              <a href="http://corp.asics.com/jp"  title="企業情報Top" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="corporate" data-wa-event-label="企業情報top">

                                  企業情報Top</a></li>

                          <li>
                              <a href="http://corp.asics.com/jp/about_asics"  title="会社概要" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="corporate" data-wa-event-label="会社概要">

                                  会社概要</a></li>

                          <li>
                              <a href="http://corp.asics.com/jp/career"  title="採用情報" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="corporate" data-wa-event-label="採用情報">

                                  採用情報</a></li>

                          <li>
                              <a href="http://corp.asics.com/jp/investor_relations"  title="投資家情報" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="corporate" data-wa-event-label="投資家情報">

                                  投資家情報</a></li>

                          <li>
                              <a href="http://corp.asics.com/jp/press"  title="プレスリリース" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="corporate" data-wa-event-label="プレスリリース">

                                  プレスリリース</a></li>

                          <li>
                              <a href="http://tryus.jp/"  title="デイサービスTryus" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="corporate" data-wa-event-label="デイサービスtryus">

                                  デイサービスTryus</a></li>

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/sustainability/"  title="ASICS Sustainability" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="corporate" data-wa-event-label="asics sustainability">

                                  ASICS Sustainability</a></li>

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/blog/"  title="ASICS Stories" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="corporate" data-wa-event-label="asics stories">

                                  ASICS Stories</a></li>



                      </ul>
                  </div>



                  <div class="footer-nav-list fl single">
                      <div id="footer-nav-list-4" class="h4">OneASICS Membership</div>
                      <ul aria-labelledby="footer-nav-list-4">

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/auth-response-asicsid/webflow/?action=register"  title="会員登録（無料）はこちら" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="oneasics membership" data-wa-event-label="会員登録（無料）はこちら">

                                  会員登録（無料）はこちら</a></li>

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/auth-response-asicsid/webflow/?action=login"  title="ログイン" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="oneasics membership" data-wa-event-label="ログイン">

                                  ログイン</a></li>

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/oneasics-landing/"  title="OneASICSについて" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="oneasics membership" data-wa-event-label="oneasicsについて">

                                  OneASICSについて</a></li>

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/customer-service/oneasics-faq/oneasics-faq.html"  title="OneASICSよくあるお問い合わせ" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="oneasics membership" data-wa-event-label="oneasicsよくあるお問い合わせ">

                                  OneASICSよくあるお問い合わせ</a></li>

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/support/guide/membershiptc"  title="OneASICS会員規約" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="oneasics membership" data-wa-event-label="oneasics会員規約">

                                  OneASICS会員規約</a></li>

                          <li>
                              <a href="https://www.asics.com/jp/ja-jp/mk/support/guide/online-store-terms-of-use"  title="オンラインストア利用規約" data-wa-hittype="event"  data-wa-event-category="footer navigation" data-wa-event-action="oneasics membership" data-wa-event-label="オンラインストア利用規約">

                                  オンラインストア利用規約</a></li>



                      </ul>
                  </div>



          </nav>
      </section>
      <div class="sfcc-copyright">
          <div class="wrapper clearfix">

              <div class="brand-links">
                  <a href="https://www.onitsukatiger.com/" title="Onitsuka Tiger" target="_blank" rel="nofollow"><svg class="icon logo-onitsukatiger"><use xlink:href="/system/images/ajp-brands.svg#logo-onitsukatiger" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
                  <a href="https://walking.asics.com/" title="ASICS Walking" rel="nofollow"><svg class="icon logo-asics-walking"> <use xlink:href="/system/images/ajp-brands.svg#logo-asicswalking" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
              </div>


              <div class="copyright-links">

                  <a href="https://www.asics.com/jp/ja-jp/mk/support/guide/privacypolicy"  title="プライバシーポリシー">プライバシーポリシー</a>

                  <a href="https://www.asics.com/jp/ja-jp/mk/support/guide/cookiepolicy/ajp"  title="Cookieポリシー">Cookieポリシー</a>

                  <a href="https://www.asics.com/jp/ja-jp/mk/support/guide/rules"  title="利用規約">利用規約</a>

                  <a href="https://www.asics.com/jp/ja-jp/mk/shop/guide/transaction"  title="特定商取引法">特定商取引法</a>

              </div>
              <div>© 2021 ASICS CORPORATION</div>
          </div>
      </div>

      <div id="back-top" class="back-to-top-sfcc" role="button" tabindex="0">
          <div class="back-to-top-icon">
              <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/system/images/sfcc-images.svg#cta-arrow"></use>
              </svg>
          </div>
          <div class="back-to-top-text">
              ホームへ戻る
          </div>
      </div>
  </footer>