footer.l-footer
  .l-footer__inr
    .l-footer__logo: a(href="#") LOGO BOTTOM
    .l-footer__nav
      ul._list
        li: a(href="#") TOP
        li: a(href="#") Company
        li: a(href="#") Product
        li: a(href="#") abc
.l-footer__copy Copyright<sup>&copy;</sup> VAN RIN CO.LTD