extends /_template/_default.pug

block vars
  -
    var contentClass = 'l-contents--top'
    var pageTitle = 'Test'
    var pageDescription = 'Test description'
    var pageKeywords = 'Test key'
    var ogUrl = 'https://www.test.com/'

block stylesheets

block main
  .l-content__demo

block scripts